/* montserrat-regular - latin */
@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    src: local('Montserrat Regular'), local('Montserrat-Regular'),
         url('../fonts/montserrat-v14-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('../fonts/montserrat-v14-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
  /* montserrat-700 - latin */
  @font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    src: local('Montserrat Bold'), local('Montserrat-Bold'),
         url('../fonts/montserrat-v14-latin-700.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('../fonts/montserrat-v14-latin-700.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }

   /* droid serif italic */
   @font-face {
    font-family: 'Droid Serif';
    font-style: italic;
    font-weight: 400;
    src: local('Droid Serif'), local('Droid-Serif'),
         url('../fonts/droidserifitalic.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('../fonts/droidserifitalic.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }

  /* roboto-slab-regular - latin */
@font-face {
    font-family: 'Roboto Slab';
    font-style: normal;
    font-weight: 400;
    src: local('Roboto Slab Regular'), local('RobotoSlab-Regular'),
         url('../fonts/roboto-slab-v9-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('../fonts/roboto-slab-v9-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }

* {
margin: 0;
padding: 0;
box-sizing: inherit;
}

html {
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

ul, ol {
    list-style: none;
}

.header {
    padding: 35px 0;
}

.container {
    width: 940px;
    margin: 0 auto;
}

.navigation {
    display: flex;
    justify-content: space-between;
}

.navigation-list {
    display: flex;
    text-transform: uppercase;
    width: 485px;
    justify-content: space-between;
}

.navigation-list-link {
    font-family: 'Montserrat';
    font-size: 14px;
    color: #222222;
}

.navigation-list-link:hover {
    color: #fed136;
}

.section-services {
    padding: 90px;
}

.section-title {
    text-align: center;
    font-family: 'Montserrat';
    font-weight: 700;
    font-size: 40px;
    text-transform: uppercase;
    color: #222222;
    margin-bottom: 10px;
}

.section-description {
    text-align: center;
    margin-bottom: 80px;
    font-family: 'Droid Serif';
    font-size: 16px;
    color: #777777;
}

.services-list {
    display: flex;
    text-align: center;
    justify-content: space-between;
}

.services-list-item {
    width: 290px;
    position: relative;
}

.services-list-item::before {
   content: "";
   width: 74px;
   height: 73px;
   background-position: center;
   position: absolute;
   left: 50%;
   transform: translateX(-50%);
}

.section-list-title {
    padding-top: 90px;
    margin-bottom: 20px;
    font-family: 'Montserrat';
    font-weight: 700;
    font-size: 18px;
}

.services-list-description {
    font-family: 'Roboto Slab';
    font-size: 14px;
    color: #777777;
    line-height: 1.8;
}

.pic-1::before {
    background-image: url(../img/Icon-Basket.png);
}

.pic-2::before {
    background-image: url(../img/Icon-Laptop.png);
}

.pic-3::before {
    background-image: url(../img/Icon-Locked.png);
}

.section-contact {
    background-color: #222222;
    background-image: url(../img/MapImage.png);
    padding: 100px 0;
    background-position: right bottom;
    background-size: 40%;
    background-repeat: no-repeat;
}

.section-contact .section-title {
    color: #ffffff;
}

.section-input {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 25px;
}

.col-1 {
    width: calc(100% - 50% - 30px);
    display: flex;
    flex-direction: column;
}

.col-1 input:not(:last-child) {
    margin-bottom: 25px;
}

.col-1 input {
    width: 455px;
    height: 50px;
    border-radius: 3px;
    border: none;
    padding-left: 20px;
}

textarea {
    resize: none;
    width: 455px;
    height: 200px;
    border: none;
    border-radius: 3px;
    padding-top: 15px;
    padding-left: 20px;
}

.col-3 .form-btn {
    display: flex;
    margin: 0 auto;
}

::placeholder {
    font-family: 'Montserrat';
    font-weight: 700;
    font-size: 14px;
    text-transform: uppercase;
    color: #bbbbbb;
}

.form-btn {
    background-color: #fed136;
    border: none;
    color: #ffffff;
    padding: 20px 45px;
    border-radius: 3px;
    text-transform: uppercase;
    font-family: 'Montserrat';
    font-weight: 700;
    font-size: 18px;
}

 input[type="text"]:valid,
 input[type="email"]:valid,
 textarea:valid {
   outline-color: green;
}
 input[type="text"]:invalid,
 input[type="email"]:invalid,
 textarea:invalid {
   outline-color: red;
}



