* {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
    /* outline: solid 1px red; */
}

html {
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

ul, ol {
    list-style: none;
}

.container {
    width: 1200px;
    margin: 0 auto;
}

.header {
    padding: 30px 0;
}

.navigation {
    display: flex;
    justify-content: space-between;
}

.section-services {
    margin-top: 90px;
}

.navigation-list {
    display: flex;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 14px;
    text-transform: uppercase;
    justify-content: space-between
}

.navigation-list {
    width: 490px;
}

.navigation-list-link {
    color: #95e1d3;
    transition: color .2s linear;
}

.navigation-list-item:hover .navigation-list-link {
    color: #f38181;
}

.navigation-list-link::after {
    margin-top: 5px;
    display: block;
    width: 100%;
    height: 2px;
    background-color: #f38181;
    content: "";
    transition: all .2s linear;
    opacity: 0;
}

.navigation-list-item:hover .navigation-list-link::after  {
    opacity: 1;
}

.section-title {
    font-family: 'Kaushan Script', cursive;
    text-align: center;
    font-size: 24px;
    color: #333333;
    line-height: 40px;
}

.section-title::after {
    display: block;
    width: 60px;
    height: 2px;
    background-color: #f38181;
    content: "";
    margin: 40px auto 50px;
}

.section-title-other {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 30px;
    color: #333333;
}

.services-list {
    display: flex;
    flex-wrap: wrap;
}

.services-list-item {
    position: relative;
    width: 380px;
    margin-bottom: 90px;
    background-repeat: no-repeat;
    background-position: top left 20px;
    padding-left: 100px;
    padding-right: 20px;
}

.services-list-item:nth-child(3n) {
    padding-right: 0;
}

.services-list-item::before {
    content: "";
    width: 32px;
    height: 32px;
    position: absolute;
    left: 28px;
    top: 0;
}

.icon-1::before {
    background-image: url(../img/ALARM.png);
}

.icon-2::before {
    background-image: url(../img/LINE-GRAPH.png);
}

.icon-3::before {
    background-image: url(../img/COMPUTER.png);
}

.icon-4::before {
    background-image: url(../img/BOOK.png);
}

.icon-5::before {
    background-image: url(../img/HOME.png);
}

.icon-6::before {
    background-image: url(../img/IMAGE.png);
}

.services-list-title {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 14px;
    text-transform: uppercase;
    color: #333333;
    margin-bottom: 18px;
}

.services-list-description {
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    line-height: 24px;
    color: #999999;
}

.team-list {
    display: flex;
    justify-content: space-between;
}

.section-team-description {
    margin: 0 auto;
    width: 950px;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    line-height: 24px;
    color: #999999;
    margin-bottom: 90px;
}

.team-list-name, .team-list-position {
    text-align: center;
}

.team-list-name {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 14px;
    text-transform: uppercase;
    color: #333333;
    margin-bottom: 15px;
}

.team-list-position {
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    font-weight: 300;
    font-style: italic;
    color: #999999;
    margin-bottom: 80px;
}

.team-list-item {
    width: 380px;
}

.team-list-img {
    transition: all .2s linear;
}

.team-list-img-wrapper {
    margin-bottom: 25px;
    position: relative;
}

.team-list-img-wrapper:hover .team-list-img {
    transform: translate(-10px, -10px);
    transition: all .2s linear;
}

.overlay  {
    display: flex;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    transition: all .2s linear;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient( rgba(252,227,138, 0) 0%, rgba(243,129,129, 0) 100%);
}

.team-list-img-wrapper:hover .overlay {
    background-image: linear-gradient( rgba(252,227,138,.9) 0%, rgba(243,129,129,.9) 100%);
    box-shadow: 10px 10px 0px 0px rgba(149,225,211,1);
    top: -10px;
    left: -10px;
}

.overlay-list {
    display: flex;
    visibility: hidden;
}

.overlay-list-link {
    width: 60px;
    height: 60px;
    display: block;
}

.overlay-list-item {
    width: 60px;
    height: 60px;
    background-color: #fce38a;
}

.overlay-list-item:not(:last-child) {
    margin-right: 1px;
}

.overlay-list-item:hover {
    background-color: #95e1d3;
}

.overlay:hover .overlay-list {
    visibility: visible;
}

.facebook {
    background-image: url(../img/facebook.png);
    background-repeat: no-repeat;
    background-position: center;
}

.instagram {
    background-image: url(../img/instagram.png);
    background-repeat: no-repeat;
    background-position: center;
}

.pinterest {
    background-image: url(../img/pinterest.png);
    background-repeat: no-repeat;
    background-position: center;
}

.twitter {
    background-image: url(../img/twitter.png);
    background-repeat: no-repeat;
    background-position: center;
}

.footer .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 65px;
    border-top: 1px solid #e5e5e5;
}

input[type=YourEmail] {
    border: 1px solid #e5e5e5;
    border-right: none;
    height: 40px;
    width: 225px;
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    font-weight: 300;
    font-style: italic;
    padding-left: 10px;
  }

  .footer-input-btn {
    width: 150px;
    height: 40px;
    background-color: #95e1d3;
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 14px;
  }

  .footer-form {
      display: flex;
  }

  .footer-text {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 14px;
    color: #333333;
  }

  .footer-template-link {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 14px;
    color: #f38181;
  }

  .footer-input::placeholder {
    padding-left: 10px;
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    font-weight: 300;
    font-style: italic;
    color: #999999;
  }

  .footer-input {
    border: 0.5px solid #999999;
    border-right: none;
    width: 230px;
  }


